#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

#footer-container h1 {
  margin-bottom: -1em;
  font-size: 2.8em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
  margin-right: 1.4em;
}

.log-or-sign-in-footer {
  width: 7vw;
  height: 3vh;
  font-size: 1.5em;
  font-weight: 700;
  background-color: none;
  color: #E74C3C;
  border: none;
}

.log-or-sign-in-footer:active {
  padding-top: 0.2em;
}

.footer-links {
  height: 3vh;
}

.solo {
  width: 13em;
}
