.instructions {
  height: 17em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 6em;
}

.instructionCard {
  width: 13em;
  text-align: center;
}

.content {
  height: 9em;
}

.image {
  padding-left: 0.65em;
}
