.nav {
  display: flex;
  flex-direction: row;
  background-color: #E74C3C;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  height: 3.9em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5000;
}

.nav h1 {
  font-size: 1.7em;
}

#logo-with-bg {
  width: 2em;
}

.right {
  display: flex;
  justify-content: space-between;
  width: 14em;
  margin-right: 3em;
  font-size: 1.3em;
}

.right .navlink {
  animation: uncolor-nav-link 0.8s;
}
.right .navlink:hover {
  /* margin: 0em -0.3em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-left: 0.1em solid #1abc9c;
  border-right: 0.1em solid #1abc9c; */

  animation: color-nav-link 0.2s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes color-nav-link {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

@keyframes uncolor-nav-link {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

.left {
  display: flex;
  justify-content: space-between;
  width: 12em;
}
