.nav {
  display: flex;
  flex-direction: row;
  background-color: #E74C3C;
  color: #ecf0f1;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  height: 3.9em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5000;
}

.nav h1 {
  font-size: 1.7em;
}

#logo-with-bg {
  width: 2em;
}

.right {
  display: flex;
  justify-content: space-between;
  width: 14em;
  margin-right: 3em;
}

.right .navlink:hover {
  text-decoration: underline;
}

.left {
  display: flex;
  justify-content: space-between;
  width: 12em;
}
