#event-container {
  height: 29em;
  overflow-y: hidden;
  padding: 0 1em 1em 1em;
  background-color: #1abc9c;
  border-radius: 0.3em;
}

#event-container h1 {
  color: #ecf0f1;
}

#events {
  height: 24em;
  overflow-y: scroll;
}
