.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35em;
  margin: 0 6em;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 73%;
}
